<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/admin/attendance/enter/" >
        <input type="text" id="monthid" name="monthid" placeholder="monthid"/>
        <input type="text" id="studentid" name="studentid" placeholder="studentid"/>
        <input type="text" id="attendance" name="attendance" placeholder="attendance"/>
        <br>
        <input class="btn btn-info" type="submit" value="Submit Button"/>
    </form>


</body>
</html>
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Input</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/front.css"  rel="stylesheet" type="text/css">

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script>


</script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="#">Attendance</a></li>
          <li><a href="./../fee/enter">Fee</a></li>
          <li><a href="./../expense/enter">Expense</a></li>
          <li><a href="./../monthtab/enter">Month</a></li>
        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="logo">
        <h1><a href="index.html">LADIES HOSTEL<br />
          <small>COLLEGE OF ENGINEERING TRIVANDRUM</small></a></h1>
      </div>
    </div>
  </div>
  <br>
  <div class="content">
    <div class="content_resize">
      
        <div class="article">
         
          <div class="container">  

  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="january" name="Monthname">january</button>
    
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="february" name="Monthname">february</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="march" name="Monthname">march</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="april" name="Monthname">april</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit"value="may" name="Monthname">may</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="june" name="Monthname">june</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="july" name="Monthname">july</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="august" name="Monthname">august</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="september" name="Monthname">september</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="october" name="Monthname">october</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="november" name="Monthname">november</button>
    
  </form>
  <form id="contact" action="/admin/st/" method="post">
    <br>
    <button type="submit" value="december" name="Monthname">december</button>
    
  </form>
</div>   
<br><br><br>  
</body>
</html>