<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/admin/fee/enter/" >
        <input type="int"  name="Month_id" placeholder="Month_id"/>
        <input type="text"  name="Student_id" placeholder="Student_id"/>
        <input type="text"  name="lhadmno" placeholder="lhadmno"/>
        <br>
        <input class="btn btn-info" type="submit" value="Submit Button"/>
    </form>


</body>
</html>
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Input</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../css/front.css">
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script>

$(document).ready(function(){
    $("#show").click(function(){
        $("#po").toggle();
    });
});
</script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="#">Fee</a></li>
          <li><a href="./../expense/enter">Expense</a></li>
          <li><a href="./../attendance/enter">Attendance</a></li>
          <li><a href="./../monthtab/enter">Month</a></li>
          <li><a href="../fee/fee">Calculate Fee</a></li>


        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="logo">
        <h1><a href="index.html">LADIES HOSTEL<br />
          <small>COLLEGE OF ENGINEERING TRIVANDRUM</small></a></h1>
      </div>
    </div>
  </div>
  <br>
  <div class="content">
    <div class="content_resize">
      
        <div class="article">
         
          <div class="container">  
  <form id="contact" action="/admin/fee/enter/" method="post">
    <h3>Enter Fee Details</h3>
   <br>
    <fieldset>
      <input type="int"  name="Month_id" placeholder="Month_id" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input type="int"  name="Student_id" placeholder="Student_id" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input type="int"  name="lhadmno" placeholder="lhadmno" tabindex="2" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    
  </form>
</div>

          
          <br><br><br>
          
</body>
</html>